a{
  text-decoration:none;
}
ul{
  -webkit-padding-start:4px;
  -webkit-padding-end:4px;
  list-style:none;
}
.card{
  color: white;
  margin: 1%;
  display: inline-block;
  background: #F44336;
}
.blue-text{
  color:#2196F3;
}
.red-text{
  color:#F44336;
}
.white-text{
  color:white;
}
.white-red{
  color:white;
  background-color:#F44336;
}
.team{
  background-color:white;
  width:100%;
  height:141px;
  -webkit-padding-start:0px;
  padding:0px;
}
.selector{
  margin: auto;
  height:50%;
  width: 50%;
  display:block;
}
.hidden{
  display:none;
}
#blue-team{
  text-align:center;
  color:#2196F3;
  float:left;
  width:48.75%;
  height:141px;
  -webkit-padding-start:0px;
  border-left:4px #2196F3 solid;
}
#blue-team-won{
  text-align:center;
  float:left;
  width:48.75%;
  height:141px;
  -webkit-padding-start:0px;
  border-left:4px #2196F3 solid;
  color:white;
  background-color:#2196F3;
}
#red-team{
  text-align:center;
  color:#F44336;
  float:right;
  width:48.75%;
  height:141px;
  border-right:4px #F44336 solid;
  background-color:#white;
}
#red-team-won{
  text-align:center;
  float:right;
  width:48.75%;
  height:141px;
  border-right:4px #F44336 solid;
  color:white;
  background-color:#F44336;
}